.job-info {
    display: grid;
    grid-template-columns: 1fr auto; /* One column takes up remaining space, the other auto sizes to content */
    width: 100%;
}

.title {
    text-align: left;
}

.dates {
    text-align: right;
}

.describe {
    font-size: 14px;
    font-family:'Arial';
    
}